# IMPORTANT: **NEVER** commit the .env file to version control!
# Copy this file to .env and fill in your actual credentials

# Microsoft Credentials

microsoft_username="your.email@example.com"
microsoft_password="YourSecurePassword123!"
